* { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
	width: 100%;
}

h1 {
	text-align:center;
	font-size:175%;
}

h2 {
	margin: 0;
	margin-bottom:20px;
	padding:5px 20px 5px 20px;
	float:right;
	border:1px solid black;
}

.cols {
	display: flex;
	flex-wrap: wrap;
}

section {
	flex-grow: 1;
	border: solid;
	margin: 20px 20px 0 0;
	background-color:grey;
}

ul {
	clear:right;
}
	
#chicken {	
	background:pink;
}

#beef {		
	background:red;
}

#sushi {	
	background:yellow;
}
 